@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin transition($len) {
  -o-transition: $len;
  -moz-transition: $len;
  -webkit-transition: $len;
  transition: $len;
}
