@import "_colors";
@import "_functions";

@font-face {
  font-family: "Hubb";
  src: url("./fonts/hubb.otf");
}

#heading {
  h1 {
    font-family: 'Hubb', cursive;
    background: linear-gradient(200deg, #647DEE, #7F53AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20em;
    margin: 0;

    font-weight: normal;
  }

  #ce {
    margin-bottom: 0;
  }

  #um {
    margin-top: 0;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #647DEE;
    font-size: 1.75em;
  }

  @media screen and (max-width: 475px) {
    h1 {
      font-size: 7em;
      line-height: 0.8em;
      margin-bottom: 30px;
    }

    p {
      font-size: 0.7em;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 12em;
    }

    p {
      margin: 0;
      font-size: 1em;
    }
  }
}

#header-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  text-align: center;
  justify-items: center;
  align-items: center;
}

#arrowDown {
  opacity: 1;
  justify-self: center;
  color: $c-primary;
  bottom: 5%;
  font-size: 2.5em;
  margin: 0 auto;

  @include transform(scale(1.25, 1));

  @keyframes bounce {
    0%, 100% {
      @include transform(translateY(0))
    }
    40% {
      @include transform(translateY(-15px))
    }
    60% {
      @include transform(translateY(-15px))
    }
  }

  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
