@import "_colors";

#loading {
  height: 100%;
  width: 100%;
  background-color: $c-base;
  position: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 3;

  div {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 6px solid;
      border-color: $c-text transparent #7F53AC transparent;
      animation: spinner 1.2s linear infinite;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
