@import "_colors";
@import "_functions";

#work-grid {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: grid;
  padding: 2vw;
  color: $c-text;

  width: 75%;
  height: 75%;

  @media screen and (max-width: 800px) {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 1200px) {
    height: 90%;
  }

  background:
          linear-gradient(rgba(5, 5, 5, 1), rgba(5, 5, 5, 1)) padding-box,
          linear-gradient(270deg, #647DEE, #7F53AC) border-box;

  border: 2px solid transparent;
  border-radius: 5px;

  h1 {
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 0;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
  }

  .icon-header {
    width: 100%;

    a {
      color: $c-text;
      text-decoration: none;
    }

    .la-code-branch {
      font-size: 3em;
    }

    .la-external-link-alt {
      font-size: 2em;
      float: right;

      @include transition(0.2s)
    }

    .la-external-link-alt:hover {
      color: #7F53AC;
      cursor: pointer;
    }
  }

  ul {
    color: rgba(100, 100, 100, 1);
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      margin-right: 1em;
      font-size: 1em;
    }
  }
}
