@import "styles/_colors";
@import "styles/_functions";

@import "styles/spinner";
@import "styles/header";
@import "styles/work";

@import "~aos/dist/aos.css";
@import "~@sweetalert2/theme-dark/dark.min.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@300;500;400&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

body {
  background-color: $c-base;
  display: grid;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

#main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  position: relative;

  @media screen and (max-width: 700px) {
    grid-template-rows: 1fr 1.1fr 0.1fr;
  }

  justify-items: center;

  max-width: 90vw;
  min-width: 75vw;
}

.vertLine {
  border-left: 1px dotted white;
  height: 75px;
}

#portfolio {
  width: 70vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

#links {
  position: fixed;
  bottom: 0;
  color: white;
  width: 100px;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1vmin;
  justify-items: center;
  opacity: 0;

  @media screen and (max-width: 1080px) {
    display: none;
  }

  a {
    font-size: 3.5vmin;
    text-decoration: none;
    color: $c-text;

    @include transition(0.2s);
  }

  a:hover {
    background: linear-gradient(200deg, #647DEE, #7F53AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include transform(translateY(-5px));
  }

  @include transition(1s);
}

footer {
  color: $c-text;
  width: 95%;

  position: absolute;
  bottom: 0;

  p {
    text-align: center;
    margin: 0;
    font-size: 1.5vmin;
  }

  div {
    text-align: center;

    a {
      text-decoration: none;
      color: $c-text;
      font-size: 2vmin;
      margin-right: 1vmin;
      margin-left: 1vmin;
    }
  }

  @media screen and (max-width: 700px) {
    p {
      font-size: 3vmin;
    }

    div {
      text-align: center;

      a {
        text-decoration: none;
        color: $c-text;
        font-size: 5vmin;
        margin-right: 1vmin;
        margin-left: 1vmin;
      }
    }
  }
}
